body {
    background-color: #190d2f;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body * {
    box-sizing: border-box;
}

/***********************************/
/* Top Nav and Bottom Footer Start */
/***********************************/
.content-fixed-header,
.content-fixed-footer {
    position: fixed;
    left: 0;
    padding: 20px;
    width: 100%;
    z-index: 100;
    background-color: #190d2f;

    a {
        color: #fff;
        text-decoration: none;
    }
}

.content-fixed-header {
    top: 0;

    .nav-home {
        float: left;
    }
    .main-menu {
        float: right;

        a {
            margin-left: 24px;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;

            &:nth-of-type(1) {
                margin-left: 0;
            }
            &:hover {
                border-bottom: 2px solid #9a22bc;
            }
        }
    }
}

.content-fixed-footer {
    bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    display: flex;

    .footer-left,
    .footer-center,
    .footer-right {
        flex-grow: 1;
        width: 33%;
    }

    .footer-center {
        text-align: center;
    }
    .footer-right {
        text-align: right;
    }
}

/*********************************/
/* Top Nav and Bottom Footer End */
/*********************************/

/*************************/
/* Homepage Styles Start */
/*************************/
.content-container-home {
    background-image: url('/src/assets/images/homepage_bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 110vh;
    padding: 0;
    margin: 0;

    .content-home {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

/***********************/
/* Homepage Styles End */
/***********************/

/******************************/
/* Generic Page Layout Styles */
/******************************/
[class^=content-container-] {
    padding: 50px 20px;
    height: 100vh;
    background-repeat: no-repeat;

    &:not(.content-container-home) {
        background-size: 320px 100%;
    }

    .page-header {
        position: relative;
        margin-left: 10%;
        float: left;
        width: 30%;
        top: 20%;

        .page-title {
            font-size: 100px;
            text-transform: uppercase;
            padding: 0 30px;
            position: relative;
            font-weight: 500;
            z-index: 10;
        }

        .rectangle-2 {
            height: 119px;
            width: 247px;
            border: 2px solid #9A22BC;
            display: inline-block;
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 5;
        }

        .page-content {
            font-size: 24px;
            font-weight: 300;
            float: left;
            width: 40%;
            position: relative;
            padding-left: 200px;
            top: 20%;
        }
    }
}

/* Presenter Page Specific Styles */
.content-container-presenters {
    padding: 0!important;
    margin: -20px 0 0;

    .presenter-info-cell .presenter-nav-name {
        font-size: 14px;
    }

    .presenter-info-wrapper {
        width: 62%;
        margin-left: 15%;
    }
}


/**************************/
/* Page Background Styles */
/**************************/
.content-container-about {
    background-image: url('/src/assets/images/bg-about.jpg');
    background-position: left center;
    overflow: hidden;
}
.content-container-presenters {
    background-image: url('/src/assets/images/bg-presenters.jpg');
    background-position: right center;
}

/*******************/
/* Schedule Styling*/
/*******************/
.content-container-schedule {
    text-align: center;

    .page-header {
        position: absolute;
    }

    .schedule-container {
        padding: 30px 0 0 0;
        margin-left: 24px;

        &:after {
            content: '';
            height: 100px;
            display: table;
            clear: both;
        }

        .schedule-filler {
            background-color: rgba(0, 0, 0, .2);
            padding: 20px;
            width: 100%;
        }

        .slick-prev {
            left: -30px;

            &:before {
                content: '<'!important;
                font-weight: 700;
            }
        }

        .slick-next {
            right: -10px;

            &:before {
                content: '>'!important;
                font-weight: 700;
            }
        }

        .schedule-container-div {
            h3 {
                font-size: 40px;
                margin: 0 0 10px 0;
                padding: 0;
            }

            .schedule-details-container {
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                flex-direction: row;

                .schedule-times {
                    text-align: left;
                }

                &.right {
                    -webkit-flex-direction: row-reverse;
                    flex-direction: row-reverse;

                    .schedule-times {
                        text-align: right;
                    }
                }

                ul {
                    list-style-type: none;
                    margin: 0 25px 0 0;
                    padding: 10px 20px;
                    background-color: rgba(0, 0, 0, .2);

                    li {
                        height: 170px;
                        font-weight: 300;
                        padding: 5px;
                        margin-bottom: 2px;
                        position: relative;

                        span {
                            font-weight: 500;
                            font-size: 18px;
                        }


                        &.schedule-lunch {
                            height: 50px;
                            color: #190d2f;
                            background-color: rgba(255, 255, 255, 0.2);
                            margin-bottom: 100px;
                            font-weight: 500;
                        }

                        .schedule-details-hover {
                            background-color: rgba(25, 13, 47, 1);
                            position: absolute;
                            transition: opacity 0.3s ease-in-out;
                            width: 350px;
                            opacity: 0;
                            padding: 20px;
                            z-index: 99999!important;
                            font-size: 16px;
                            font-weight: 300;
                            box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.2);
                            visibility: hidden;

                            &:after {
                                content: '';
                                display: table;
                                clear: both;
                            }
                        }
                        &:not(.schedule-last) {
                            .schedule-details-hover {
                                top: 0;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        &.share-menu-up,
                        &.schedule-last {
                            .atcb-list {
                                bottom: 0;
                                margin-top: -310px;
                            }
                        }

                        &.schedule-last {
                            .schedule-details-hover {
                                bottom: 0!important;
                                right: 0!important;
                            }

                            &.left {
                                .schedule-details-hover {
                                    left: -23px!important;
                                }
                            }
                        }

                        &:hover {
                            .schedule-details-hover {
                                opacity: 1;
                                visibility: visible;
                                transition: opacity 0.3s ease-in-out;

                            }
                        }
                    }
                }

                .atcb-list {
                    li {
                        height: 50px;

                        a {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .schedule-details {
                    flex-grow: 2;
                }
            }
        }
    }
}

.content-container-about {
    .page-content {
        overflow-y: hidden!important;
        height: 100%!important;
        margin-left: 50px;
    }
}

@media only screen and (min-width: 961px) {
    .content-container-about {
        display: flex;

        .page-content {
            padding-top: 170px;

            p {
                max-width: 700px;
                font-size: 24px;
                font-weight: 200;
            }

        }
    }

    .content-container-presenters {
        .presenter-bio {
            span {
                white-space: nowrap;
            }

            h3 {
                font-size: 32px
            }
        }
    }

    .content-container-schedule {
        .schedule-container {
            margin-top: 380px;
            clear: left;

            .schedule-container-div {
                h3 {
                    font-size: 32px;
                    margin: 0 0 20px 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    .content-container-schedule {
        .hide {
            display: none;
            visibility: hidden;
        }
    }
}

/******************/
/* Mobile Styling */
/******************/
@media only screen and (orientation: portrait) {
    .content-fixed-footer {
        display: block;
    }
        .content-fixed-footer .footer-left,
        .content-fixed-footer .footer-center,
        .content-fixed-footer .footer-right {
            text-align: center;
            font-size: 18px;
            line-height: 1.5em;
        }
        .content-fixed-footer .footer-left,
        .content-fixed-footer .footer-center {
            position: relative;
        }
        .content-fixed-footer .footer-left {
            width: 54%;
            float: left;
            text-align: right;
        }
        .content-fixed-footer .footer-center {
            width: 40%;
            float: right;
            text-align: left;
        }
        .content-fixed-footer .footer-right {
            width: 100%;
            display: block;
            clear: both;
        }
    .content-container-home .content-home img {
        height: 100%;
        width: 100%;
    }
}

@media only screen and (orientation: portrait) and (max-width: 960px) {
    .content-fixed-footer {
        padding: 20px 0 0;
    }

    [class^=content-container-] {
        .page-header,
        .page-content {
            width: 100%;
            display: block;
            padding: 0;
            margin: 0;
            top: 0;
        }
        .page-header .rectangle-2 {
            height: 100px;
            width: 247px;
        }

        .page-content {
            float: none;
            height: 52%;
            overflow-y: scroll;
        }

        .page-content h1 {
            font-size: 40px
        }

        .page-header .page-title {
            padding: 50px 0 0 10px;
            margin: 0;
            font-size: 72px;
        }
    }

    .content-container-schedule {
        .page-header {
            top: 50px;
        }
        .schedule-container {
            padding-top: 150px;
        }
    }
    .content-container-presenters {
        .presenter-info-wrapper {
            margin-left: 15%;
            max-height: 540px;
            overflow-y: scroll;
        }

        .slider-pagination {
            overflow-y: scroll;
        }

        .presenter-info-wrapper::-webkit-scrollbar {
            width: 0!important;
        }
        .presenter-info-wrapper::-moz-scrollbar {
            width: 0!important;
        }
        .presenter-info-wrapper::scrollbar {
            width: 0!important;
        }

        .presenter-info-wrapper {
            top: 130px;
            position: absolute;
            right: 10px;
            margin: 0;
        }
    }
}

@media only screen and (orientation: portrait) and (max-width: 760px) {
    .content-container-schedule {
        .schedule-container-div {
            .schedule-details-container {
                &.right {
                    -webkit-flex-direction: row!important;
                    flex-direction: row!important;

                    .schedule-times {
                        text-align: left!important;
                    }
                }
            }
        }
    }
}

@media only screen and (orientation : portrait) and (max-width: 500px) {
    .schedule-details-hover {
        width: 200px!important;
    }
}

@media only screen and (orientation: portrait) and (max-height: 500px) {
    .content-fixed-footer {
        .footer-left,
        .footer-center,
        .footer-right {
            font-size: 18px;
        }
    }

    .content-container-home .content-home img {
        width: 139px;
        height: 300px;
    }

    .content-container-presenters {
        .slider-pagination {
            height: 67%;
            overflow-y: scroll;
        }
        .slider-pagination::-webkit-scrollbar {
            width: 0!important;
        }
        .slider-pagination::-moz-scrollbar {
            width: 0!important;
        }
    }

    .presenter-info-wrapper {
        height: 290px;
    }
}

@media only screen and (orientation: portrait) and (max-height: 750px) {
    .content-container-home {
        .content-home {
            left: 54%;

            img {
                width: 80%;
                height: 80%;
            }
        }
    }
}

/* Tablet Overrides */
@media only screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1024px),
       only screen and (orientation: portrait) and (min-width: 834px) and (max-width: 834px),
       only screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1024px),
       only screen and (orientation: portrait) and (min-width: 1366px) and (max-width: 1366px) {
    .content-container-presenters {
        .presenter-info-wrapper {
            width: 60%;
            overflow-y: inherit;
        }
    }
}
